{
    "parser" : "babel-eslint",
    "env" : {
        "es6": true,
        "browser":true,
        "node": true
    },
    "rules":{
        "no-console":"off",
        "linebreak-style":"off",
        "require-jsdoc":"off",
        "semi":"off"
    },
    "extends":["eslint:recommended", "google"]
}